*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding: 133px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}

.search-form__textfield:focus,
.button:focus {
  outline: none;
}

.content {
  height: 534px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}

.result__video-container {
  position: relative;
  margin-bottom: 16px;
}

.result__video-container video {
  width: 711px;
  height: 386px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.search-form__textfield {
  min-width: 225px;
  background-color: transparent;
  color: currentColor;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  border-left: none;
  border-right: none;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
}

.search-form__checkbox-list .search-form__label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  border: 1px solid currentColor;
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  position: relative;
}

.search-form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  background-color: currentColor;
  display: block;
  width: 15px;
  height: 15px;
  position: relative;
  top: 1px;
  left: 1px;
  inset: 1px;
}

.button {
  height: 34px;
  color: #fff;
  background-color: transparent;
  border: 1px solid currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.search-form__submit-button {
  align-self: end;
  width: 194px;
}

.more-button {
  width: 100%;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__details {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 26px;
  text-transform: uppercase;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  overflow: auto;
  height: 56%;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__list-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
  padding: 2px;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
